$darkMode:#0D0D0D;
$primaryColor: #1155a3 ;
$secondaryColor: #F2F2F2;
$thirdColor: #fff ;
$fourthColor: #D0D3D9;

header{
    width:100%;
    height:100vh;
}

.bg-header{
    height:100%;
    width: 100%;
    padding: 1.8rem 0;
    background-image: url('../../assets/img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
}

.list .listNetworks{
    display: flex;
    align-items: center;
}

nav ul h1 a{
    font-weight: bold;
    color:$secondaryColor;
    text-decoration: none !important;
    letter-spacing: 1px;
    &:hover{
        color: $secondaryColor;
    }
}
nav ul h1{
    margin: 5px -2rem;
}

nav {
    position: fixed;
    top:0;
    width:100%;
    transition: .5s;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1 !important;
}

.scroll-nav .active, .scroll-nav .list{
    background:$primaryColor;
}

.scroll-nav  {
    background:$primaryColor;
}

nav ul{ 
    width:100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    transition: .4s;
    height:100%;
    background: rgba(1, 117, 250, 0.459);
    margin: 0;
}

.list{
    display: flex;
    text-align: center;
    padding:  0;
    margin: 0;   
    list-style: none;
    text-decoration: none;
}

.list a {
    text-decoration: none;
}

nav ul li{
    padding: 0 20px;
}

nav li a{
    font-size: 1.125em;
    font-family: 'Oswald',Arial;
    padding: 5px;
    transition: .2s;
    color : $thirdColor;
    &:hover{
        color: $thirdColor;
    }
}
.contact-img{
    color: $secondaryColor;
    height: 30px;
    width: 30px;
    margin:10px;
}

nav ul .listNetworks li{
    padding:5px;
}

@media(max-width: 1002px) {
    html {
        font-size: 93.75%;
    }
}

@media(max-width: 880px) {
    html {
        font-size: 87.50%;
    }
    .message {
        width: 35rem;
        margin: 0 1rem;
    }
}

@media(max-width: 770px) {
    html {
        font-size: 85.50%;
    }
    .list {
        display: inline-block;
        width: 100%;
        display:flex;
        align-items: center;

        li a p {
            display: none;
        }
    }
    .App-logo {
        display: none;
    }

    .header {
        display: inline-block;
    }
}